<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/doctor.css">
</head>

<body>

    <%- include("sidebar.ejs") %>
        <div class="right-side">
            <%- include("right_side_header.ejs") %>
                <div class="right-side-body">
                    <h1>Hello Dr. <%= doctor_name %> 👋</h1>
                    <div class="container-fluid">
                        <div class="row row-gap-3">
                            <div class="col-md-4 col-sm-12">
                                <div class="data-box">
                                    <div class="data-title">
                                        Upcoming Appointments
                                    </div>
                                    <div class="data"><span><%= booked.length %></span></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="data-box">
                                    <div class="data-title">
                                        Completed Appointments
                                    </div>
                                    <div class="data"><span><%= completed %> </span></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="data-box">
                                    <div class="data-title">
                                        Number of Patients
                                    </div>
                                    <div class="data"><span><%= patients_num %></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1>Upcoming Appointments</h1>
                    <div class="table-div">
                        
                        <table class="a_table">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Location</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>

                            </thead>
                            <tbody>
                                <% for(var i=0; i< booked.length; i++) { %>
                                    <tr>
                                        <td data-title="First Name"><%= booked[i]["first_name"] %></td>
                                        <td data-title="Last Name"><%= booked[i]["last_name"] %></td>
                                        <td data-title="Date"><%= booked[i]["date"] %></td>
                                        <td date-title="Time"><%= booked[i]["time"] %></td>
                                        <td data-title="Location"><%= booked[i]["address"] %></td>
                                        <td data-title="Status"><button type="button"
                                                class="btn btn-warning status_btn">Booked</button></td>
                                        <td data-title="Action"><button type="button" class="btn btn-danger"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                            Cancel
                                        </button></td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>

                    </div>
                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/script.js"></script>
</body>

</html>
</h1>